.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    background-color: #ffc145;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: #2a8234;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffc145;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}

