.grid {
    width: 200px;
    height: 400px;
    background-color: #ffc145;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: #2a8234;
}

