body {
    background-color: #ebe2ae;
}

.game {
    display: flex;
    align-items: center;
    flex-direction: column;

}

h3 {
    font-size: 25px;
    font-family: Arial, sans-serif;
}

button {
    background-color: #18b566;
    color: #fff;
    font-weight: bold;
    font-family: Arial, sans-serif;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    outline: 0;
}

button:hover {
    background-color: #3be687;
}

.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    background-color: #ffc145;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: #2a8234;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffc145;
    border-radius: 8px;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}

